/*

	===== ===== ===== ===== ===== =====
	Global rules
	===== ===== ===== ===== ===== =====

*/

html {
	display: flex;
	justify-content:center;
}

:root {
	font-size: medium;
}

body {
	display: flex;
	width: 100%;
}

/*

	===== ===== ===== ===== ===== =====
	Page type classes
	===== ===== ===== ===== ===== =====

*/

.Startpage,
.Subpage {
	
	background-color: #355;
	color: #ddd;
	display: flex;
	
	font-family: "Roboto Flex";
	font-weight: 600;
	font-variation-settings: "wght" 200, "wdth" 400;

	padding: 0% 10% 0% 10%;

	background-image: url("./IMG/BG (1).jpeg");
	background-repeat: repeat-y;
	background-position-x: center;
	background-size:cover;
	background-blend-mode: color-burn;

	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;


	max-width: 1200px;

}

/* .Startpage {

} */

/*

	===== ===== ===== ===== ===== =====
	Reusables
	===== ===== ===== ===== ===== =====

*/

.Startpage > section,
.Subpage > section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.Startpage article,
.Subpage article {
	background-color: #44666680;
	flex: 0 0 76%;
	padding:0 1%;
}

.Startpage #SecondColumn,
.Subpage #SecondColumn {
	background-color: #66006680;
	flex: 0 0 20%;
	padding:0 1%;
	margin-left: 0;
	flex-direction: column;
}

/*

	===== ===== ===== ===== ===== =====
	Header
	===== ===== ===== ===== ===== =====

*/

#Header {
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding:0 1em;
	width: 100%;
	background: rgba(255, 0, 0, 0.5);
}

#HeaderText {
	color: #fff;
	font-weight: 200;
	font-size: 2rem;
	padding: 0;
}

#Header > a {
	text-decoration: none;
}

#Header > a > #HeaderText:hover {
	background-color: #60606050;
}

#HeaderButtons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#HeaderButtons a {
	display: flex;
	font-weight: 300;
	font-size: 2rem;
	font-family: "Roboto Flex";
	height:fit-content;
	padding: 0.05rem 0.2rem;
	margin: 0 0.2rem;
	border: 0px;
	background-color: #DCDCDC;
	color: #000;
	text-decoration: none;
}
#HeaderButtons a:hover {
	background-color: #ACACAC;
}

#HeaderButtons > a:first-of-type {
	margin: 0 0.2rem 0 0; 
}

#HeaderButtons > a:last-of-type {
	margin: 0 0 0 0.2rem;
}

/*

	===== ===== ===== ===== ===== =====
	Footer
	===== ===== ===== ===== ===== =====

*/
#Footer {
	display: flex;
	height: max-content;
	background-color: #44444456;
	margin: 0;
}