/*

	===== ===== ===== ===== ===== =====
	Global rules
	===== ===== ===== ===== ===== =====

*/

html {
	display: flex;
	justify-content:center;
	background-repeat: repeat-y;
	background-position-x: center;
	background-size: cover;
	background-color: #355;
}

:root {
	font-size: medium;
}

/*

	About font-variation-settings
	https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings
	Controls variable font characteristics such as weight (wght), width (wdth), slant (slnt), italic (ital)

*/

body {
	display: flex;
	width: 100vw;
	height: 100vb;

	h1, h2, h3, h4, h5, h6, .WideText {
		font-family: "Roboto Flex";
		font-variation-settings: "wght" 600, "wdth" 200;
	}
	p, a, input, label, li {
		font-family: "Roboto Flex";
		font-variation-settings: "wght" 300, "wdth" 100;
	}
}

* {
	box-sizing: border-box;
}

/*

	===== ===== ===== ===== ===== =====
	HTML_Generic_*
	===== ===== ===== ===== ===== =====

*/

#HTML_Generic_Home {
	background-image: url("./IMG/BG (1).jpeg");
	background-blend-mode: color-burn;
}

#HTML_Generic_Subpage {
	background-image: url("./IMG/BG (3).jpeg");
	background-blend-mode: color-burn;
}

#HTML_Generic_Review {
	background-image: url("./IMG/BG (5).jpeg");
	background-blend-mode: exclusion;
}

#HTML_LoginPage {
	background-image: url("./IMG/BG (2).jpeg");
	background-blend-mode: hard-light;
}


/*

	===== ===== ===== ===== ===== =====
	Page type classes
	===== ===== ===== ===== ===== =====

*/

.Startpage,
.Subpage {
	color: #ddd;
	display: flex;

	margin: 0;

	flex-wrap: nowrap;
	flex-direction: column;
	align-self: center;

}

/*

	===== ===== ===== ===== ===== =====
	Reusables
	===== ===== ===== ===== ===== =====

*/

.Startpage > .PageContent,
.Subpage > .PageContent {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

.Startpage .FirstColumn,
.Subpage .FirstColumn {
	background-color: #44666680;
	flex: 0 0 80%;
	padding:0 1em;
}

.Startpage .SecondColumn,
.Subpage .SecondColumn {
	background-color: #66006680;
	flex: 0 0 20%;
	padding:0 1%;
	margin-left: 0;
	flex-direction: column;
}

.FirstColumn, .SecondColumn {
	backdrop-filter: blur(1em);
}

.Spacer {
	width: 100%;
	padding: 2px 0;
	margin: 4px 0;
	display: flex;

	border-radius: 2px;

	&.White {
		background-image: linear-gradient(90deg, #d0d0d0a0, #0000);
		
	}
	&.Orange {
		background-image: linear-gradient(90deg, #ff8800a0, #0000);
	}
}

/*

	===== ===== ===== ===== ===== =====
	Header
	===== ===== ===== ===== ===== =====

*/

#Header {
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding:0 1em;
	width: 100%;
	background: #ff000080;
	backdrop-filter: blur(4px);
	user-select: none;
}

#HeaderText {
	color: #fff;
	font-weight: 200;
	font-size: 2rem;
	padding: 0;
	
}

#Header > a {
	text-decoration: none;
}

#Header > a > #HeaderText:hover {
	color: #ddd;
}

#HeaderButtons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#HeaderButtons a {
	display: flex;
	font-size: 2rem;
	font-variation-settings: "wght" 200, "wdth" 200;

	height:fit-content;
	padding: 0.05rem 0.2rem;
	margin: 0 0.2rem;
	border: 0px;
	background-color: #DCDCDC;
	color: #000;
	text-decoration: none;
}
/* #HeaderButtons a:hover {
	background-color: #ACACACEE;
	backdrop-filter: blur(5px);
} */
#HeaderButtons a:active {
	backdrop-filter: blur(20px);
	background-color: #6C6C6CEE;
}

#HeaderButtons > a:first-of-type {
	margin: 0 0.2rem 0 0; 
}

#HeaderButtons > a:last-of-type {
	margin: 0 0 0 0.2rem;
}

#Header {
	transition: 200ms;
	a:hover {
		background-color: #ACACACEE;
		backdrop-filter: blur(5px);
	}
}

/*

	===== ===== ===== ===== ===== =====
	Article containers
	===== ===== ===== ===== ===== =====

*/

@keyframes ArticleEntryHover {
	from {
		flex: 0 0 25%;
	}
	to {
		flex: 0 0 30%;
	}
}
@keyframes HoverExpand {
	from {
		flex: 0 0 25%;
		background-color: #00000080;
		.HiddenWhileNotHover {
			display: none;
		}
	}
	to {
		flex: 0 0 30%;
		background-color: #ff6000a0;
		.HiddenWhileNotHover {
			display: inline-flex;
		}
	}
}

.ArticleContainerOuter{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 1 100%;
	padding: 0 0.5em 0.5em 0.5em;
	margin: 0 1em 0 0;
	&>h2 {
		margin: 0.5em 0 0.5em 0.5em;
	}
	&.Green {
		background-image: linear-gradient(90deg, #00d08080 1em, #0000d000);
	}

	&.Orange {
		background-image: linear-gradient(90deg, #ff800080 1em, #0000d000);
	}
}

a.ArticleContainerEntry {
	display: flex;
	flex-direction: column;
	
	background-color: #00000080;
	backdrop-filter: blur(12px);
	border-radius: 4px;

	padding: 0 1em;

	text-decoration: none;
	color: #ddd;

	.TextCard {
		height: 80%;
	}
	.HiddenWhileNotHover {
		display: none;
	}
	
	/* Transition */
	
	transition: 250ms;

	&:hover {
		flex: 0 0 30%;
		background-color: #ff6000a0;
	}
	&:focus {
		flex: 0 0 100%;
		/* background-color: #ff8000ff; */
		background: linear-gradient(180deg, #ff8000ff, #ff00b080);
	}
}
.ArticleContainerSliding {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0 0.5em 0.5em 0.5em;
	margin: 0 1em 0 0;
	
	.ArticleContainerInner {
		flex-direction: row;
		flex-wrap: nowrap;
		height: fit-content;
		overflow-x: auto;
		& > :not(:first-child) {
			margin: 0 0 0 0.5em;
		}
	}
	.ArticleContainerEntry {
		flex: 0 0 25%;
	}
}

/*

	===== ===== ===== ===== ===== =====
	Footer
	===== ===== ===== ===== ===== =====

*/

#Footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: flex-end;
	background-color: #44444456;
	backdrop-filter: brightness(1.4) blur(4px);
	margin: 0;
	padding: 0 1em;
	min-width: 100%;

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	div {
		display: flex;
		flex: 0 0 25%;
		flex-direction: column;
		flex-wrap: wrap;
		.ContainerHeader {
			margin: 1em 0 0 0;
		}
	}
	#FooterLastInformation {
		display: flex;
		flex: 0 0 100%;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 1em 0;
	}
}

#Footer #FoxbatFooterText {
}

/*

	===== ===== ===== ===== ===== =====
	Login page
	===== ===== ===== ===== ===== =====

*/


.LoginPage {
	/* background-image: linear-gradient(90deg, #ffffff00 0%, #000000c0 37.5%, #000000c0 62.5%, #ffffff00 100%); */
	color: #ddd;
	display: flex;

	margin: 0;
	height: 100vh;

	flex-wrap: nowrap;
	flex-direction: column;
	align-self: center;
	align-items: center;

	/* Modify spacer to use more margin toward the bottom */
	/* .Spacer {
		margin: 4px 0 8px 0;
	} */

	.PageContent {
		display: flex; 
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 0 1 100%;
		h1, h2, h3, h4, h5, h6, p {
			padding: 0;
			margin: 0;
		}
	}
	
	#LoginPagePopup {
		display: flex;
		flex: 0 1 25%;
		flex-direction: column;
		flex-wrap: wrap;

		min-width: 400px;
		max-width: 800px;
		
		padding: 0.5em;
		border-radius: 8px;
		
		background-color: #00000080;
		backdrop-filter: blur(12px);
	}

	input[type=text],
	input[type=password],
	input[type=submit],
	.LoginPopupButton {

		border: 2px solid #ff000080;
		border-radius: 4px;

		color: #DCDCDC;
		background-color: #80808080;
		backdrop-filter: blur(2px);

		width: 100%;
		margin: 4px 0 0 0;

		text-align: left;
		text-decoration: none;
		font-size: large;
	}

	input[type=text]::placeholder,
	input[type=password]::placeholder {
		color: #dacaffee;
	}

	input[type=submit]:hover,
	.LoginPopupButton:hover {
		background-color: #808080a0;
	}

	input[type=submit]:active,
	.LoginPopupButton:active {
		background-color: #80808020;
	}

	#LoginPopupStandalone {
		display: flex;
		flex-direction: column;
		width: 100%;
		/*Would've used :last-child here but I noticed that some extensions inject there. So an id it is.*/
		#UserLoginButton {
			margin: 4px 0 4px 0;
		}
	}

	.PageContent, #Footer {
		width: 100%;
	}

	#Footer {
		justify-self: flex-end;
	}

}

/*

	===== ===== ===== ===== ===== =====
	Adaptive design
	===== ===== ===== ===== ===== =====

*/

@media screen and (max-width: 499px) {
	#HeaderButtons {
		display: none;
	}
	.LoginPage #LoginPagePopup {
		min-width: 0px;
		flex: 1 1 100%;
	}
}

@media screen and (max-width: 799px) {
	.Startpage .FirstColumn,
	.Subpage .FirstColumn {
		flex: 0 0 100%;
	}

	.Startpage .SecondColumn,
	.Subpage .SecondColumn {
		display: none;
	}
}

@media screen and (max-width: 999px) and (min-width: 800px) {
	.Startpage, .Subpage, .LoginPage {
		padding: 0;
	}
}

@media screen and (max-width: 499px) {
	#Footer div {
		flex: 0 0 100%;
	}
}

@media screen and (min-width: 500px) and (max-width: 999px) {
	#Footer div {
		flex: 0 0 50%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.Startpage, .Subpage {
	}
}

@media screen and (min-width: 1600px) {
	.Startpage article {
		flex: 1 0 80%;
		min-width: 1280px;
	}
	.Startpage #SecondColumn {
		flex: 0 1 20%;
		max-width: 320px;
		padding: 1em;
	}
}

