/*

	===== ===== ===== ===== ===== =====
	Global rules
	===== ===== ===== ===== ===== =====

*/

html {
	display: flex;
	justify-content:center;
	background-repeat: repeat-y;
	background-position-x: center;
	background-size: cover;
	background-color: #355;
}

:root {
	font-size: medium;
}

body {
	display: flex;
	width: 100vw;
	height: 100vb;
}

* {
	box-sizing: border-box;
}

/*

	===== ===== ===== ===== ===== =====
	HTML_Generic_*
	===== ===== ===== ===== ===== =====

*/

#HTML_Generic_Home {
	background-image: url("./IMG/BG (1).jpeg");
	background-blend-mode: color-burn;
}

#HTML_Generic_Subpage {
	background-image: url("./IMG/BG (3).jpeg");
	background-blend-mode: color-burn;
}

#HTML_Generic_Review {
	background-image: url("./IMG/BG (4).jpeg");
	background-blend-mode: color-burn;
}


/*

	===== ===== ===== ===== ===== =====
	Page type classes
	===== ===== ===== ===== ===== =====

*/

.Startpage,
.Subpage {
	color: #ddd;
	display: flex;
	
	font-family: "Roboto Flex";
	font-weight: 600;
	font-variation-settings: "wght" 200, "wdth" 400;

	margin: 0;

	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;


	max-width: 1200px;

}

.LoginPage {
	background-color: #355;
	color: #ddd;
	display: flex;

	font-family: "Roboto Flex";
	font-weight: 600;
	font-variation-settings: "wght" 200, "wdth" 400;

	margin: 0;

	background-image: url("./IMG/BG (5).jpeg");
	background-repeat: repeat-y;
	background-position-x: center;
	background-size:cover;
	background-blend-mode: darken;

	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;
	align-items: center;

}

/*

	===== ===== ===== ===== ===== =====
	Reusables
	===== ===== ===== ===== ===== =====

*/

.Startpage > section,
.Subpage > section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.Startpage article,
.Subpage article {
	background-color: #44666680;
	flex: 0 0 80%;
	padding:0 1%;
}

.Startpage #SecondColumn,
.Subpage #SecondColumn {
	background-color: #66006680;
	flex: 0 0 20%;
	padding:0 1%;
	margin-left: 0;
	flex-direction: column;
}

/*

	===== ===== ===== ===== ===== =====
	Header
	===== ===== ===== ===== ===== =====

*/

#Header {
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding:0 1em;
	width: 100%;
	background: rgba(255, 0, 0, 0.5);
}

#HeaderText {
	color: #fff;
	font-weight: 200;
	font-size: 2rem;
	padding: 0;
}

#Header > a {
	text-decoration: none;
}

#Header > a > #HeaderText:hover {
	background-color: #60606050;
}

#HeaderButtons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#HeaderButtons a {
	display: flex;
	font-weight: 300;
	font-size: 2rem;
	font-family: "Roboto Flex";
	height:fit-content;
	padding: 0.05rem 0.2rem;
	margin: 0 0.2rem;
	border: 0px;
	background-color: #DCDCDC;
	color: #000;
	text-decoration: none;
}
#HeaderButtons a:hover {
	background-color: #ACACAC;
}

#HeaderButtons > a:first-of-type {
	margin: 0 0.2rem 0 0; 
}

#HeaderButtons > a:last-of-type {
	margin: 0 0 0 0.2rem;
}

/*

	===== ===== ===== ===== ===== =====
	Footer
	===== ===== ===== ===== ===== =====

*/

#Footer {
	display: flex;
	background-color: #44444456;
	margin: 0;
	padding: 0.2em;
	min-width: 100%;
}

#Footer #FoxbatFooterText {
}

/*

	===== ===== ===== ===== ===== =====
	Adaptive design
	===== ===== ===== ===== ===== =====

*/

@media screen and (max-width: 499px) {
	#HeaderButtons {
		display: none;
	}
}

@media screen and (max-width: 15cm) {
	body {
		font-size: larger;
	}
}

@media screen and (max-width: 799px) {
	.Startpage article,
	.Subpage article {
		background-color: #44666680;
		flex: 0 0 100%;
		padding:0 1%;
	}

	.Startpage #SecondColumn,
	.Subpage #SecondColumn {
		display: none;
	}
}

@media screen and (max-width: 999px) and (min-width: 800px) {
	.Startpage, .Subpage, .LoginPage {
		padding: 0;
		max-width: 1000px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.Startpage, .Subpage {
		min-width: 1000px;
	}
}

/*

	===== ===== ===== ===== ===== =====
	Login page
	===== ===== ===== ===== ===== =====

*/
.LoginPage section,
.LoginPage #Footer {
	max-width: 1200px;
	width: 100%;
}
.LoginPage #Footer {
	justify-self: flex-end;
}